<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>nbforms Server</title>

	<!-- Load Bootstrap, jQuery, and ClipboardJS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

	<!-- Custom CSS and JavaScript -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	
	<div class="container">

		<h1>nbforms Server</h1>

		<p>Here is your nbforms API key. Please enter it in the notebook.</p>

		<div class="container row">

			<textarea id="api-key-textarea" class="form-control col-md-10" style="width: 100%; background-color: #EEE; height: 40px; resize: none;" readonly><%= @user.api_key %></textarea>
			<button type="button" id="api-key-copy-btn" data-clipboard-target="#api-key-textarea" class="btn btn-light col-md-2">Copy</button>

		</div>

	</div>

	<script type="text/javascript">
		new ClipboardJS('#api-key-copy-btn');
	</script>

</body>
</html>
