<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>nbforms Server</title>

  <!-- Load Bootstrap and its JS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  >

  <!-- Custom CSS and JavaScript -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="container">

    <h1>nbforms Server</h1>

    <p>This is a server for the Python package nbforms. Use the Python API to interact with it.</p>

    <h4>Config Generator</h4>

    <p>
      This webapp comes with an
      <a href="{{ url_for('static', filename='config_generator.html') }}">nbforms config generator</a>
      to help you generate the config JSON file.
    </p>

    <h4>Documentation</h4>

    <p>
      The documentation for nbforms and nbforms-server can be found
      <a href="https://github.com/chrispyles/nbforms">here</a>.
    </p>

  </div>

</body>
</html>
